{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	

	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="#">Home</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="/">Prisons</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="service-area">Enablers</a>
			</li>
		</ol>
	</div>

	<h1 class="govuk-heading-l">{{ department }}: {{ serviceArea }}</h1>

	<table class="govuk-table">
		<caption class="govuk-table__caption govuk-table__caption--m">Workforce planning</caption>
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Role</th>
			<th scope="col" class="govuk-table__header">Level</th>
			<th scope="col" class="govuk-table__header">Type</th>
			<th scope="col" class="govuk-table__header">Status</th>
			<th scope="col" class="govuk-table__header">Stage</th>
			<th scope="col" class="govuk-table__header">Role code</th>
			<th scope="col" class="govuk-table__header">Team</th>
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for role in roles %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">{{ role.role }}</th>
					<td class="govuk-table__cell">{{ role.level }}</td>
					<td class="govuk-table__cell">
						<strong class="govuk-tag {{ role.type | replace(0, 'govuk-tag') | replace(1, 'govuk-tag--grey') }} ">
							{{ role.type | replace(0, 'New') | replace(1, 'Current') }}
						</strong>
					</td>
					<td class="govuk-table__cell">
						<strong class="govuk-tag {{ role.status | replace(0, 'govuk-tag--green')  | replace(1, 'govuk-tag--orange') | replace(2, 'govuk-tag--red') }}">
							{{ role.status | replace(0, 'OK')  | replace(1, 'Due') | replace(2, 'Urgent') }}
						</strong>
					</td>
					<td class="govuk-table__cell">{{ role.stage }}</td>
					<td class="govuk-table__cell">{{ role.roleCode }}</td>
					<td class="govuk-table__cell"><a href="team" title="{{ role.team }}">{{ role.team }}</a></td>
				</tr>	
		  	{% endfor %} 
		</tbody>
	  </table>

</main>

{% endblock %}